@font-face {
	font-family: 'Lexend Deca';
	src:
		url('../assets/fonts/LexendDeca-SemiBold.woff2') format('woff2'),
		url('../assets/fonts/LexendDeca-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend Deca';
	src:
		url('../assets/fonts/LexendDeca-Regular.woff2') format('woff2'),
		url('../assets/fonts/LexendDeca-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend Deca';
	src:
		url('../assets/fonts/LexendDeca-Bold.woff2') format('woff2'),
		url('../assets/fonts/LexendDeca-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend Deca';
	src:
		url('../assets/fonts/LexendDeca-Medium.woff2') format('woff2'),
		url('../assets/fonts/LexendDeca-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rustic Roadway';
	src:
		url('../assets/fonts/RusticRoadwayPersonaluse.woff2') format('woff2'),
		url('../assets/fonts/RusticRoadwayPersonaluse.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-background-light: hsl(0, 0%, 100%);
	--color-background-dark: hsl(210, 11.1%, 3.53%);
	--color-foreground-light: hsl(210, 11.1%, 3.53%);
	--color-foreground-dark: hsl(0, 0%, 98%);
	--color-card-light: hsl(0, 0%, 100%);
	--color-card-dark: hsl(210, 11.1%, 3.53%);
	--color-card-foreground-light: hsl(210, 11.1%, 3.53%);
	--color-card-foreground-dark: hsl(0, 0%, 98%);
	--color-primary-light: hsl(0, 0%, 9%);
	--color-primary-dark: hsl(0, 0%, 98%);
	--color-primary-foreground-light: hsl(0, 0%, 98%);
	--color-primary-foreground-dark: hsl(0, 0%, 9%);
	--color-secondary-light: hsl(0, 0%, 96.1%);
	--color-secondary-dark: hsl(0, 0%, 14.9%);
	--color-secondary-foreground-light: hsl(0, 0%, 9%);
	--color-secondary-foreground-dark: hsl(0, 0%, 98%);
	--color-muted-light: hsl(0, 0%, 96.1%);
	--color-muted-dark: hsl(0, 0%, 14.9%);
	--color-muted-foreground-light: hsl(0, 0%, 45.1%);
	--color-muted-foreground-dark: hsl(0, 0%, 63.9%);
	--color-accent-light: hsl(0, 0%, 96.1%);
	--color-accent-dark: hsl(0, 0%, 14.9%);
	--color-accent-foreground-light: hsl(0, 0%, 9%);
	--color-accent-foreground-dark: hsl(0, 0%, 98%);

	--color-border-light: hsl(0, 0%, 89.8%);
	--color-border-dark: hsl(0, 0%, 14.9%);
	--color-input-light: hsl(0, 0%, 89.8%);
	--color-input-dark: hsl(0, 0%, 14.9%);

	--color-ring-light: hsl(0, 0%, 3.9%);
	--color-ring-dark: hsl(0, 0%, 83.1%);

	--font-brand: 'Rustic Roadway';
}

@custom-variant dark (&:where(.dark, .dark *));

/* @layer utilities {
	.no-spinner::-webkit-outer-spin-button,
	.no-spinner::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.no-spinner {
		appearance: textfield;
	}
} */

:root {
	--font-default:
		'Lexend Deca', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	font-family: var(--font-default);
	font-size: 1rem;
	font-weight: 400;

	background-color: var(--color-background-light);
	color: var(--color-foreground-light);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root.dark {
	background-color: var(--color-background-dark);
	color: var(--color-foreground-dark);
}

/* *:focus-visible {
	outline: 4px double hsl(160, 67%, 52%);
	outline-offset: -4px;
	outline-style: double;
} */

body {
	position: relative;
	min-height: 100dvh;
	max-width: 40rem;
	margin: 0 auto;
}
